<aside class="left">

<ul class="nav nav-pills nav-stacked" id="navleftstyle">
  <li class="navleft"><a href="#/adminin">Overview</a></li>
  <li class="navleft"><a href="#/website">Website</a></li>
  <li class="navleft"><a href="#/facebook-analytics">Facebook</a></li>
  <li class="navleft"><a href="#/to-do">To Do</a></li>
</ul>
</aside>

<aside class="right">
    <h4 id="dashboardtext">Dashboard for Torrey</h4>
    <p id="logoutlink">
      logout
    </p>
    <!-- <br> -->
    <hr>
  <div class="circlegraphs">
    <div class="circl">hey</div>
    <p>Hey</p>
    <div class="circl">there</div>
    <div class="circl">you</div>
    <div class="circl"><img id="personicon" src="" />
      <img id="personicon2" src="" />
    </div>

  </div>

  <hr>

  <div class="cardcolumns">
  <div class="card">
    <img class="card-img-top" src="images/logo.png" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    </div>

    <!-- delete below after  -->
    <div class="card">
      <img class="card-img-top" src="images/logo.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>

      </div>
  <!-- delete above -->
  </div>
  <div class="audienceprofile">
    <p>
      hey
    </p>
  </div>
  <div id="pannelmove" class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading changeme</div>
    <!-- Table -->
    <table class="table">
      <tr>

      </tr>
      <tr>
        hey
      </tr>
      <tr>
        hi
      </tr>
      <td>
        <button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
  </button>
  hey
      </td>
    </table>
  </div>

  <h4 id="customreports">Your Custom Reports</h4>
  <hr>
  <!-- <button id="customreportadd" type="button" name="button" ng-click="toogleme = !toogleme; edit($qty)"> + Add a Custom Report</button> -->
  <button id="customreportadd" type="button" name="button" ng-click="showModal = !showModal"> + Add a Custom Report</button>

  <modal title="Login form" show="showModal">
        <form role="form">

        </form>
      </modal>


</aside>
