<div class="entiredivadmin">

<span ng-show="dont">adminin</span>
<aside class="left" style="background-color: #2F343D;">
  <ul class="nav nav-pills nav-stacked" id="navleftstyle">
    <li class="navleft"><a href="#/adminin" style="color:white;"><i class="fa fa-home" aria-hidden="true" style="color:white;"></i>     Dashboard</a></li>
    <li class="navleft"><a href="#/website" style="color:white;"><i class="fa fa-bar-chart" aria-hidden="true"style="color:white;"></i>     Website</a></li>
    <li class="navleft"><a href="#/facebook-analytics" style="color:white; hover:blue;"> <i class="fa fa-pie-chart" aria-hidden="true" style="color:white;"></i>      Facebook</a></li>
    <!-- <li class="navleft"><a href="#/to-do">To Do</a></li> -->
  </ul>
</aside>

<aside class="right">
  <h4 id="dashboardtext">Dashboard for {{username}}</h4>
  <a href="#/adminsignup" ng-click="signout()" id="logoutlink">logout </a>
  <hr>
  <div class="circlegraphs">
    <div class="circl">
      <div id="donutchart" ></div>
    </div>
    <div class="circl">
      <p id="wordcircle">{{dollarspent}} </p>
    </div>
    <div class="circl">
      <p id="wordcircle2">{{productssold}}</p></div>
    <div class="circl">
      <i id="gendericon" class="fa fa-venus-mars fa-5x" aria-hidden="true"></i>
      <p id="men">92</p>
      <p id="women">133</p>
    </div>
  </div>
  <div class="graphtitlesmain">
    <div class="indivgraphtitles">
      <h4 id="graphtitles1"><div id="newusers">
        New Users
      </div> vs <div id="returningusers">
        Returning
      </div></h4>
    </div>
    <div>
      <h4 id="graphtitles2">$ spent on ads</h4>
    </div>
    <div>
      <h4 id="graphtitles3">Mugs Sold</h4>
    </div>
    <div>
      <h4 id="graphtitles4"> total <span id="male">male</span>  vs <br> <span id="female">female</span> customers</h4>
    </div>
  </div>
  <hr>
  <div class="audienceprofile">
    <div id="curve_chart"></div>
  </div>
  <div class="cardcolumns" >
  <div class="card" style="background-color:#2F333D; color: white; border: 1px solid white;">
      <div id="chart_div2" style="width: 100%; height: 400px;"></div>
    <div class="card-block">
      <!-- <p class="card-title">Card title</p> -->
    </div>
  </div>

  <div class="card" style="background-color:#2F333D; color: white; border: 1px solid white;">
    <div id="columnchart_valuesposts" style="width: 100%; height: 400px;"></div>
    <div class="card-block">
    </div>
  </div>
</div>
  <div class="audienceprofile">
      <div id="chart_divtrends" style="width: 100%; height: 300px;"></div>
  </div>
  <div id="pannelmove" class="panel panel-default">
    <div class="panel-heading" style="background-color:#2F333D; color: white; font-family: 'Oxygen', sans-serif; font-size: 14px;">Site Content - All Pages</div>
    <!-- Table -->
    <table class="tablepages">
      <tr class="row">
    <th class="turnwhite">Page</th>
    <th class="turnwhite">Pageviews</th>
    <th class="turnwhite">Avg Time on Page</th>
    <th class="turnwhite">Bounce Rate</th>
    <th class="turnwhite">% Exit</th>
  </tr>
  <tr class="row">
    <td></td>
    <td>{{pageviewstotal}}</td>
    <td>00:45</td>
    <td>{{bounceratetotal}}</td>
    <td>{{percentExit}}</td>
  </tr>
  <tr class="row">
    <td> /app/</td>
    <td>{{pageviewsapp}}</td>
    <td>{{avgtimeonpageapp}}</td>
    <td>{{bouncerateapp}}</td>
    <td>{{percentExitapp}}</td>
  </tr>
  <tr class="row">
    <td> /</td>
    <td>{{pageviewsmain}}</td>
    <td>{{avgtimeonpagemain}}</td>
    <td>{{bounceratemain}}</td>
    <td>{{percentExitmain}}</td>
  </tr>
    </table>
  </div>

  <h4 id="customreports">Your Custom Reports</h4>
  <hr>
  <button id="customreportadd" type="button" name="button" ng-click="toogleme = !toogleme; edit($qty)"> + Add a Custom Report</button>
<br>
  <select id="reportopt" ng-model="selectedOption" ng-hide="toogleme">
   <option ng-repeat="type in reports" ng-click="addrepo = !addrepo;" value="{{type}}">
   {{type}}
   </option>
  </select>
<button id="addit" type="button" ng-hide="toogleme" ng-click="edit($index, numbs)">Add Report</button>
<div class="cardcolumns" >
  <div class="card" ng-if="numbs.value === 'CustomReport'" style="background-color:#2F333D; color: white; border: 1px solid white;">
    <img class="card-img-top" src="images/logo.png" alt="Card image cap">
    <div class="card-block">
      <p class="card-title">Card title</p>
    </div>
  </div>

  <!-- <div class="card" ng-hide="addrepo" style="background-color:#2F333D; color: white; border: 1px solid white;">
    <img class="card-img-top" src="images/logo.png" alt="Card image cap">
    <div class="card-block">
      <p class="card-title">Card title</p>
    </div>
  </div> -->
</div>
  <!-- <div class="audienceprofile" ng-if="selectedOption ==='Bounce Rate'">
    <div id="curve_chartb" style="width: 100%; height: 300px;"></div>
  </div> -->
  <div class="audienceprofile" >
    <div id="curve_chartb" style="width: 100%; height: 300px;"></div>
  </div>
  <!-- <div class="cardorig"  style="background-color:#2F333D; color: white; border: 1px solid white;">
    <img class="card-img-top" src="images/logo.png" alt="Card image cap">
    <div class="card-block">
      <p class="card-title">Card title</p>
    </div>
  </div> -->


</aside>
</div>
