<div class="entiredivadmin">

<aside class="leftfb">

<ul class="nav nav-pills nav-stacked" id="navleftstyle">
  <li class="navleft"><a href="#/adminin" style="color:white;"><i class="fa fa-home" aria-hidden="true" style="color:white;"></i>     Dashboard</a></li>
  <li class="navleft"><a href="#/website" style="color:white;"><i class="fa fa-bar-chart" aria-hidden="true"style="color:white;"></i>     Website</a></li>
  <li class="navleft"><a href="#/facebook-analytics" style="color:white; hover:blue;"> <i class="fa fa-pie-chart" aria-hidden="true" style="color:white;"></i>      Facebook</a></li>
  <!-- <li class="navleft"><a href="#/to-do">To Do</a></li> -->
</ul>
</aside>

<aside class="right">
    <h4 id="dashboardtext">Facebook Data</h4>
    <a href="#/adminsignup" id="logoutlink">logout </a>
    <!-- <br> -->
    <hr>

    <div class="graphsfb">
      <div id="graph1fb">
        <p class="fbgraphtitle">POST IMPRESSIONS</p>
        <hr class="linewhitegraph">
        <div>
          <div class="whitecirclefb">
            <p id="fbfansbig3">
              {{postimpressions}}
            </p>
          </div>
        </div>
      </div>
      <div id="graph2fb">
        <p class="fbgraphtitle">WEBSITE CLICKS</p>
        <hr class="linewhitegraph">
          <div class="whitecirclefb">
        <p id="fbfansbig2">{{pageviewstotal}}</p>
          </div>
        <!-- <p ng-repeat="(key,value) in fbdatatest">{{key}} : {{value}}</p> -->
      </div>
      <div id="graph3fb">
        <p class="fbgraphtitle">TOTAL FACEBOOK FANS</p>
        <hr class="linewhitegraph">
        <div class="whitecirclefb">
          <p id="fbfansbig"> {{fbfans}} </p>

        </div>
      </div>
    </div>

<!-- need to change the names of class and ids -->
    <div class="graphsfb2">

      <div id="regions_div" style="width: 100%; height: 100%;"></div>
    </div>


  <div class="cardcolumns">
  <div class="card" style="background-color: #2F333D; border: 1px solid white;">
     <!-- <div id="chart_div" style="width: 100%; height: 500px;"></div> -->
     <!-- <div id="columnchart_values" style="width: 90%; height: 400px; margin-left: -10px;"></div> -->
     <!-- <div id="dual_y_div" style="width: 90%; height: 400px;"></div> -->
     <div id="columnchart_material" style="width: 100%; height: 300px;"></div>
     <!-- <div id="columnchart_valuesposts" style="width: 100%; height: 400px;"></div> -->

    </div>
    <br>
    <!-- delete below after  -->
    <div class="card" style="background-color: #2F333D; border: 1px solid white; height: 300px">
<!-- <div id="line_top_x"></div> -->
<div id="columnchart_valuesposts" style="width: 100%; height: 400px;"></div>
      </div>
  <!-- delete above -->
  </div>
  <!-- <div class="audienceprofile">
    <p>
      hey
    </p>
  </div> -->

</aside>
</div>
