<aside class="left">

<ul class="nav nav-pills nav-stacked" id="navleftstyle">
  <li class="navleft"><a class="navfont" href="#/adminin">Dashboard</a></li>
  <li class="navleft"><a href="#/website">Website</a></li>
  <li class="navleft"><a href="#/facebook-analytics">Facebook</a></li>
  <!-- <li class="navleft"><a href="#/to-do">To Do</a></li> -->
</ul>
</aside>

<aside class="right">
    <h4 id="dashboardtext">Facebook Data</h4>
    <p id="logoutlink">
      logout
    </p>
    <!-- <br> -->
    <hr>

    <div class="graphsfb">
      <div id="graph1fb">
        <p class="fbgraphtitle">POST REACH</p>
        <hr class="linewhitegraph">
        <div >
          <p>
            FBPAGEBELOW {{fbpage}}
          </p>
          <p>
            {{fbage}}
          </p>
        </div>
      </div>
      <div id="graph2fb">
        <p class="fbgraphtitle">WEBSITE CLICKS</p>
        <hr class="linewhitegraph">
        <p ng-repeat="(key,value) in fbdatatest">{{key}} : {{value}}</p>
      </div>
      <div id="graph3fb">
        <p class="fbgraphtitle">TOTAL FACEBOOK FANS</p>
        <hr class="linewhitegraph">
        <div class="whitecirclefb">
          <p id="fbfansbig"> {{fbfans}} </p>
        </div>
      </div>
    </div>

<!-- need to change the names of class and ids -->
    <div class="graphsfb2">

      <div id="regions_div" style="width: 100%; height: 100%;"></div>
    </div>


  <div class="cardcolumns">
  <div class="card" style="background-color: #2F333D; border: 1px solid white;">
     <!-- <div id="chart_div" style="width: 100%; height: 500px;"></div> -->
     <!-- <div id="columnchart_values" style="width: 90%; height: 400px; margin-left: -10px;"></div> -->
     <!-- <div id="dual_y_div" style="width: 90%; height: 400px;"></div> -->
     <div id="columnchart_material" style="width: 100%; height: 300px; backgroundColor: transparent"></div>

    </div>
    <br>
    <!-- delete below after  -->
    <div class="card" style="background-color: #2F333D; border: 1px solid white; height: 300px">
      <img class="card-img-top" src="images/logo.png" style="height:200px; align-items: center" alt="Card image cap">
      </div>
  <!-- delete above -->
  </div>
  <!-- <div class="audienceprofile">
    <p>
      hey
    </p>
  </div> -->

</aside>
