<img id="mainimg" src="images/mugs-dark-background.jpg" alt="" />
<input type="submit" name="button" value="purchase a mug" id="purchasemugbutton"></input>
<div class="circlecolumns">
  <p class="circle">
    <i class="fa fa-cubes" aria-hidden="true"></i>
  </p>
  <p>Keeps Drinks Cooler</p>
  <p class="circle">
    <i class="fa fa-medkit" aria-hidden="true"></i>
  </p>
  <p>Health Benefits</p>
  <p class="circle">
    <i class="fa fa-beer" aria-hidden="true"></i>
  </p>
  <p> 100% Copper</p>
</div>
<div class="recipesdiv">
  <h2>Top Recipes</h2>

</div>
<div class="productsdiv">
  <h2>More Products</h2>

</div>
<footer>
  <div class="">
    <div class="companyInfo">
      <div class="">
        <h2>find</h2>
        <ul>
          <li><a href="#">buy a mug (or two)</a></li>
          <li><a href="#">more products</a></li>
          <li><a href="#">recipes</a></li>
          <li><a href="#">blog</a></li>
        </ul>
      </div>
      <br>
      <h2>company</h2>
      <ul>
        <li><a href="#">about us</a></li>
        <li>  <a href="#">about the product</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="">
    <h3>follow us</h3>
    <a href="https://www.facebook.com/CyprusMoscowMuleMugs"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
    <a href="mailto:jdemasters@hotmail.com">Contact Us</a>
  </div>
</footer>
