<img id="signinimg" src="images/cyprus-copper-mugs-outdoors.png" alt="cyprus copper mugs" />
<h3 id="admintitle">Cyprus Copper Mugs Dashboard</h3>
<h4 id="admintitlesml">Data that matters to you.</h4>
<div class="formbox">
</div>
  <form class="formsignin" action="#/adminin" method="post">
    <input class="textbox" type="text" placeholder="username" name="name" value="">
    <br>
    <input class="textbox" type="password" name="name" value="" placeholder="password">
    <br>
    <input id="signinbutton"
    type="submit" name="name" value="sign-in" >
  </form>
  <!-- <div id="alert1" class="alert alert-success" role="alert">...</div>
  <div id="alert2" class="alert alert-info" role="alert">...</div>
  <div id="alert3" class="alert alert-warning" role="alert">...</div>
  <div id="alert4" class="alert alert-danger" role="alert">...</div>
<p id="createnew">create new user</p> -->
