<aside class="left">

<ul class="nav nav-pills nav-stacked" id="navleftstyle">
  <li class="navleft"><a href="#/adminin">Overview</a></li>
  <li class="navleft"><a href="#/website">Website</a></li>
  <li class="navleft"><a href="#/facebook-analytics">Facebook</a></li>
  <!-- <li class="navleft"><a href="#/to-do">To Do</a></li> -->
</ul>
</aside>

<aside class="right">
    <h4 id="dashboardtext">To Do</h4>
    <p id="logoutlink">
      logout
    </p>
    <!-- <br> -->
    <hr>
  <div class="audienceprofile">
    <h6>create a new todo</h6>
    <form class="" action="index.html" method="post">
      <input type="Date" name="day assigned" value="" placeholder="day" >
      <input type="text" name="name" value="" placeholder="needs to be done">
      <input type="Date" name="name" value="">
      <input type="submit" name="submit" value="add">
    </form>


  </div>
  <div class="audienceprofile">
    <h1></h1>
    <p>
      <button type="button" name="button">Remove completed</button>
    </p>
    <table>
      <tr>
    <th>Completed</th>
    <th>Date Added</th>
    <th>Date to Finish</th>
    <th>Task</th>
    <th>Send to {{Tim}}</th>
  </tr>
  <tr>
    <td><input type="checkbox" name="name" value=""></td>
    <td>date</td>
    <td>11/2/3</td>
    <td>do things</td>
    <td>
      <select>
        <option value="none">none</option>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </td>
  </tr>
  <tr>
    <td><input type="checkbox" name="name" value=""></td>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
    </table>

  </div>

</aside>
