<aside class="leftweb">

<ul class="nav nav-pills nav-stacked" id="navleftstyle">
  <li class="navleft"><a href="#/adminin" style="color:white;"><i class="fa fa-home" aria-hidden="true" style="color:white;"></i>     Dashboard</a></li>
  <li class="navleft"><a href="#/website" style="color:white;"><i class="fa fa-bar-chart" aria-hidden="true"style="color:white;"></i>     Website</a></li>
  <li class="navleft"><a href="#/facebook-analytics" style="color:white; hover:blue;"> <i class="fa fa-pie-chart" aria-hidden="true" style="color:white;"></i>      Facebook</a></li>
  <!-- <li class="navleft"><a href="#/to-do">To Do</a></li> -->
</ul>
</aside>

<aside class="right">
    <h4 id="dashboardtext">Website Data</h4>
    <!-- <input id="weekdropdown" type="week" name="name" value=""> -->
    <a href="" id="logoutlink">logout </a>
    <!-- <br> -->
    <hr>
    <div class="audienceprofile">

    <div class="audienceprofile2">
      <div class="statscont">  {{bouncerate}}<br> Bounce Rate</div>
      <div class="statscont">{{totalwebviews}}<br> Webviews</div>
      <div class="statscont">00:45 <br>Avg Time on Site</div>
      <div class="statscont">{{adsenseAdsViewed}} <br> Ads Viewed</div>
    </div>
    <p id="monthtitle">Semptember 2016</p>
    <div class="quickwebstats">
      <div class="sessions">

      </div>
    </div>
  </div>
    <div class="audienceprofile">
      <p>
        <!-- <div id="curve_chart" style="width: 100%; height: 200px"></div> -->
        <div id="curve_chart"></div>
      </div>
      </p>
    </div>

  <div class="cardcolumns">
  <div class="card" style="background-color: #2F333D; color: white; border: 1px solid white;">
    <div id="chart_div" style="width: 100%; height: 400px; color:white; backgroundColor:transparent;"></div>
    </div>

    <!-- delete below after  -->
    <div class="card" style="background-color: #2F333D; color: white; border: 1px solid white;">
      <div id="chart_div2" style="width: 100%; height: 400px;"></div>
    </div>
  <!-- delete above -->
  </div>
</aside>
